.container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  overflow: auto;

  display: flex;
  flex-wrap: wrap;
}

.box {
  position: relative;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0px;
  padding: 0px;
  width: 600px;
  max-width: 600px;
}

@media screen and (min-width: 1430px) {
  .box {
    position: sticky;
  }
}

.text {
  height: 100%;
  padding: 60px;
  color: rgb(66, 66, 66);
  line-height: 1.6em;
  font-size: 15px;
  letter-spacing: 1.5px;
  background-color: rgba(255, 255, 255, 0.705);

  overflow: auto;
}

@media screen and (min-width: 800px) {
  .text {
    padding: 80px;
  }
}

.project_category {
  margin-bottom: 10px;
}

.project_category h2 {
  font-weight: 600;
  font-size: 1.2em;
}

.project_item a {
  transform: padding;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
}

.project_item a:hover {
  padding-left: 10px;
}

.external_link svg {
  display: inline-block;
  vertical-align: text-top;
}


/* @media screen and (min-width: 600px) and (max-width: 1250px) {
  .container {
    flex-wrap: nowrap;
  }
} */

@media only screen and (min-width: 1430px) {
  .box {
    height: 100%;
  }
}

.content {
  width: 830px;
  min-width: 330px;
  margin: 60px auto;
  padding: 20px;
}

.content_header {
  background-color: rgb(39, 39, 39);
  padding: 10px;
  margin-bottom: 20px;
}

.content_header h1,
.content_header span,
.content_header a {
  color: white;
}

.content_meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.meta_tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.meta_tags span {
  margin: 0px 8px 0px 0px;
  border-bottom: 2px solid white;
}

.content_meta>span {
  margin: 0px 8px 8px 0px;
}

.mdx_wrapper {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.664);
}

.mdx_wrapper p,
.mdx_wrapper ul {
  color: rgb(54, 54, 54);
  font-family: "Helvetica neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  margin-top: 5px;
  margin-bottom: 20px;
}

.mdx_wrapper ul {
  margin-left: 25px;
  list-style: outside disc;
}

.mdx_wrapper a {
  color: black;
  border-bottom: 1px solid black;
}

.mdx_wrapper blockquote {
  border-left: 4px solid black;
  padding-left: 8px;
}

.mdx_wrapper h1 {
  /*   font-size: 4em;
  background-color: black;
  color: white; */
}

.mdx_wrapper h2 {}

.mdx_wrapper h3 {}

.mdx_wrapper h4 {}